.header {
  background: #ffffff;
}
.titleHeader {
  margin: 0 1%;
}
.navbar-brand {
  font-size: x-large;
  font-weight: bolder;
}
h1 {
  color: #AC3B61;
  font-family: 'Bowlby One SC', cursive;
}
.keywordButton {
  color: #AC3B61;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
}
.keywordButton:hover {
  color: #fff;
  background-color: #AC3B61;
  border-color: #AC3B61;
}
.input-group {
  padding: 0px 6%;
}
.account {
  position: absolute;
  right: 0;
  padding-right: 2%;
}

.p-2 {
  padding: 0 !important;
}
.gglConnect {
  padding: 0;
  right: 0;
}
.dropdown-menu{
  border: 0;
  border-radius: 0;
}
//.input-group > .form-control:focus {
//  width:80%;
//  cursor: auto;
//}
.panier {
  display: flex;
}

.panier > i {
  margin: auto;
  padding-right: 20px;
  font-size: 35px;
  cursor: pointer;

}

nav {
  padding: 0 10px;
}
.navbar-brand img{
  width: 70%;
  padding: 4%;
}
.nav-item {
  display: flex;
  margin: 0 5px;
}
.dropdown {
  display: flex;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #AC3B61 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #AC3B61 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #AC3B61 !important;
}


button.mat-button.mat-button-base {
  border-radius: unset;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #AC3B61;
}
i.icon-color {
  color: #AC3B61;
}
nav {
  color: #AC3B61;
}
.dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(100, 36, 53, 0.52) !important;
}
button.mat-button.mat-button-base {
  border-radius: unset;
}
