<mat-card class="example-card" *ngIf="data">
  <img mat-card-image src="/assets/img/hebergement.jpg">
  <mat-card-header>
    <mat-card-title>{{data.nomHebergement}}</mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>
  <mat-card-content>
    <p>{{data.nom_rue}}</p>
    <p>{{data.codePostal}}</p>
    <p>{{data.ville}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/hebergements/{{data.numHebergement}}">Voir plus</button>
  </mat-card-actions>
</mat-card>
