
<div class="container">
  <nav class="navbar navbar-expand-lg bg-white navbar-light header mt-xl-3 text-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <mat-form-field>
            <mat-label>Categorie</mat-label>
            <mat-select [(value)]="categorie" (selectionChange)="onChangeCategorie($event.value)">
              <mat-option class="mat-primary">Aucun</mat-option>
              <mat-option class="mat-primary" *ngFor="let c of categories" [value]="c">{{c}}</mat-option>
            </mat-select>
          </mat-form-field>
        </li>

        <li class="nav-item">
          <form [formGroup]="form">
            <mat-form-field>
              <input matInput
                     placeholder="Choisir une periode"
                     [satDatepicker]="picker5"
                     formControlName="date"
                     [min]="minDate" [max]="maxDate">
              <sat-datepicker #picker5 [rangeMode]="true"
                              [selectFirstDateOnClose]="true">
              <!--(dateRangesChange)="inlineRangeChange($event)"-->

              </sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
            </mat-form-field>
          </form>
        </li>

        <li class="nav-item">
          <form>
            <mat-form-field>
              <input matInput placeholder="Ville" [formControl] ="villeControl" [matAutocomplete]="auto" [(ngModel)]="ville">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let s of filteredOptionsVille" [value]="s.nom" (onSelectionChange)="onChangeVille(s.nom)">
                  {{s.nom}}
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>

          </form>

        </li>


        <li class="nav-item">
          <mat-form-field>
            <input matInput placeholder="Nom" [formControl] ="nomControl" [matAutocomplete]="auto1" [(ngModel)]="nom">
            <mat-icon matSuffix class="icon-color">search</mat-icon>
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let s of filteredOptionsNom" [value]="s.nom" (onSelectionChange)="onChangeNom(s.nom)">
                {{s.nom}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </li>

      </ul>
    </div>
  </nav>
  <div class="row rounded bg-white mt-xl-3 mb-xl-3 mt-sm-2 mb-sm-2 mt-2 mb-2 p-4 ">
    <div class="col-xl-6 px-4 py-3"  *ngFor="let f of festivals">
      <app-card-festival [data]="f"></app-card-festival>
    </div>
  </div>
</div>
