.tarif {
  width: 100%;
  border-bottom: solid 1px;
  border-color: rgba(133, 133, 133, 0.75);
}
.tarifSelection {
  display: inline-flex;
}
.submit {
  margin: auto;
  text-align: center;
  margin-bottom: 1%;
}
