.Title {
  margin: auto;
}
.prix {
  display: flex;
  margin-right: 2%;
}
.line-text {
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
}
.img-mini {
  height: 90px;
  width: 90px;
  margin-right: 15px;
  object-fit: contain;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
