<div class="row" *ngIf="data && l">
  <div class="col-4">
    <a>
      <div class="Title">
        <a routerLink="/hebergements/{{l.numHebergement}}" routerLinkActive="active"><span>{{l.nomHebergement}}</span></a>
      </div>
      <div>
        <p>
          {{l.ville}}
        </p>
      </div>
    </a>
  </div>
  <div class="col-4">Date:<p>{{transformDate(data.dateDeb)}} - {{transformDate(data.dateFin)}}</p></div>

  <div class="col-2 action">
    <div>
      <button mat-button (click)="supPanier()">
        supprimer
      </button>
    </div>
  </div>
  <!--<div class="col prix"><span class="line-text">Prix: 6 €</span></div>-->
</div>

