<div class="button-images row">
  <div class="one_half">
    <div class="button-container">
      <a routerLink="/festivals" routerLinkActive="active">FESTIVALS</a>
      <img src="/assets/img/festival.jpg" />
    </div>
  </div>
  <div class="one_half">
    <div class="button-container">
      <a routerLink="/hebergements" routerLinkActive="active">LOGEMENTS</a>
      <img src="/assets/img/hebergement.jpg"/>
    </div>
  </div>

  <div class="clearboth"></div>
</div>
