
body {
  font-size: 16px;
  font-family:'Source Sans Pro';
  // background:#ccc;
}

.button-images {
  max-width: 950px;
  margin: 75px auto;



}

.button-container {
  position: relative;
  text-align: center;
  padding: 0;
  border-radius:5%;
  overflow:hidden;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4)!important;
}



.button-container A:before{
  content: '';
  display: inline-block;
  height: 48%;
  /*
  vertical-align:middle;
  height: 100%;*/


}


.button-container a {
  transition: all 1s ease-out;
  background: rgba(88, 88, 88, 0.7);
  // border-radius:1%; vertical-align:middle;
  padding:5%;
  color: #FFFFFF;
  position:absolute;
  font-size: 1.125em;
  font-weight: 700;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  display:inline-block;
  text-decoration: none;
  text-transform:uppercase;
}

.button-container A:hover {
  background: none;
  border: none;
  opacity:0;
}
.button-container img{
  width:100%;
  height:auto;
  display:block;
}

.last {
  margin-right: 0 !important;
  clear: right;
}

.clearboth {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
}

.spacer {
  height: 15px;
}

.one_half .one_half {
  margin-right: 8.3333%;
  width: 45.8333%;
}

.one_half .one_third {
  margin-right: 8.3333%;
  width: 27.7778%;
}

.one_half .two_third {
  margin-right: 8.3333%;
  width: 63.8889%;
}

.one_half, .two_fourth {
  width: 48%;
  margin: 1%;
  padding: 0 2%;
}


