<mat-dialog-content>
  <p>
    <mat-icon *ngIf="data.error">error_outline</mat-icon>
  </p>
  <p>{{data.msg}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close tabindex="-1">OK</button>
</mat-dialog-actions>
