<div class="row" *ngIf="hebergement">
  <div class="info-festival col-7">
    <div class="text-center festival">
      <h1>{{hebergement.nomHebergement}}</h1>
      <div class="type_ville">
        <div class="type">
          Classement: <b>{{hebergement.classement}}</b>
        </div>
      </div>
      <div>
        {{hebergement.nom_rue}}
      </div>
      <div class="ville">{{hebergement.codePostal}} {{hebergement.ville}}</div>

      <img src="/assets/img/hebergement.jpg" height="300">
    </div>

  </div>
  <div class="res-container col-4 float-right">
    <div class="rating">
      <ngb-rating [(rate)]="hebergement.noteMoyenne" [readonly]="true">
        <ng-template let-fill="fill" let-index="index">
          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
        </ng-template>
      </ngb-rating>
    </div>
<!--    <form [formGroup]="form">


      <mat-form-field appearance="outline">
        <mat-label>Date de réservation</mat-label>
        <input matInput
               placeholder="Choisir une periode"
               [satDatepicker]="picker5"
               formControlName="date"
               [min]="minDate" [max]="maxDate">
        <sat-datepicker #picker5 [rangeMode]="true"
                        [selectFirstDateOnClose]="true">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker5"></sat-datepicker-toggle>
      </mat-form-field>-->

      <app-list-logements [data]="hebergement.numHebergement"></app-list-logements>
<!--
    </form>
-->
  </div>
</div>
