<div class="panier">
  <div class="head-icon">
    <button type="button" class="close" aria-label="Close" (click)="sendMessageToParent()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="titleCart text-center"><h1>Mon panier</h1></div>

  <div class="articles">

      <h3 mat-subheader>Festivals</h3>
      <div *ngFor="let f of festivals">
        <app-panier-ele [data] = "f" [numR]="panierInfo.numReservation"></app-panier-ele>
<!--        <button mat-icon-button (click)="removeFestival()">
          <mat-icon class="mat-24">delete</mat-icon>
        </button>-->
      </div>

      <!--<mat-divider></mat-divider>-->
      <h3 mat-subheader>Logements</h3>
    <div *ngFor="let l of logements">
      <app-panier-ele-logement [data]="l" [numR]="panierInfo.numReservation"></app-panier-ele-logement>
    </div>
<!--      <mat-list-item *ngFor="let l of logements">
        <h4 mat-line>{{l.nom}}</h4>
        <p mat-line> {{l.id}} </p>
        <button mat-icon-button (click)="removeLogement()">
          <mat-icon class="mat-24">delete</mat-icon>
        </button>
      </mat-list-item>-->
  </div>

  <div class="total float-right" *ngIf="panierInfo">
    <b>Total:</b> {{(+panierInfo.montanTotal).toFixed(2)}}€
    <div class="commander">
      <button mat-stroked-button (click)="commander()">Commander</button>
    </div>
  </div>

</div>
