<div class="row" *ngIf="f">
  <div class="col-4">
    <a routerLink="/festivals/{{f.id}}" routerLinkActive="active">
      <div class="Title">
        <span>{{f.nom}}</span>
      </div>
    </a>
  </div>
  <div class="col-4">Date:<p>{{transformDate(data.dateRes)}}</p></div>
  <div class="col-2 action">
    <div>
      <button mat-button (click)="supPanier()">
        supprimer
      </button>
    </div>
  </div>
  <!--<div class="col prix"><span class="line-text">Prix: 6 €</span></div>-->
</div>

