<div class="row reservation">
  <div class="col-12 tab">
    <mat-tab-group mat-stretch-tabs>

      <mat-tab label="Tous" class="cast">
        <div class="tous" *ngIf="reservations">
<app-package-reservation [data]="reservations" [commentable]="false"></app-package-reservation>

        </div>
      </mat-tab>

      <mat-tab label="Réservations futures">
        <div class="tous" *ngIf="resFutur">
          <app-package-reservation [data]="resFutur" [commentable]="false"></app-package-reservation>
        </div>
      </mat-tab>


      <mat-tab label="Réservations passées">
        <div class="tous" *ngIf="resPassees">
          <app-package-reservation [data]="resPassees" [commentable]="true"></app-package-reservation>
        </div>
      </mat-tab>

      <mat-tab label="Réservations annulées" class="cast">
        <div class="tous" *ngIf="resAnnulees">
          <app-package-reservation [data]="resAnnulees" [commentable]="false"></app-package-reservation>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
