
.row{
  margin-left: 0;
  margin-right: 0;
}
.filter {
  margin: 1% 0px;
}
:host ::ng-deep .ui-megamenu li:last-child
{
  float:right;
}
.search {
  margin: -5px -13%;
}
.icon-color {
  color: #AC3B61;
}
li {
  margin-right: 5%;
}
.container {
  height: 100vh;
}
agm-map {
  height: 600px; /* height is required */

}
.map {
  margin: auto;
}
.listHebergement {
  // display: inline-flex;
}
