<mat-dialog-content>
  Veuillez donner un avis au <b>{{data.name}}</b>
  <div class="rating">
    <ngb-rating [(rate)]="data.note">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
      </ng-template>
    </ngb-rating>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Valider</button>
</mat-dialog-actions>
