mat-card-header.mat-card-header {
  height: 80px;
}
::ng-deep .mat-card-header-text {
  margin: 0 0 0 30px !important;
}
::ng-deep .mat-card-header .mat-card-title {
  font-size: 15px;
}
.mat-card-avatar {
  height: auto;
  width: auto;
}
.mat-card-content {
  margin-left: 35%;
  line-height: 40px;
}
